<div class="container">
    <ul class="nav nav-tabs mt-5">
        <li class="nav-item">
          <a class="nav-link active" href="#">Все публикации</a>
        </li>
{#        <li class="nav-item">#}
{#          <a class="nav-link" href="#">Лучшее</a>#}
{#        </li>#}
    </ul>
</div>
