<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Регистрация</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
        <div class="container mt-5">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                      <label for="exampleInputEmail1">Электронная почта</label>
                      <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
                      <small id="emailHelp" class="form-text text-muted">Мы никогда не будем делиться вашей электронной почтой с кем-либо еще.</small>
                    </div>
                    <div class="form-group">
                            <label for="exampleInputEmail1">Имя</label>
                            <input type="text" name="first_name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Никнейм">
                    </div>
                     <div class="form-group">
                            <label for="exampleInputEmail1">Фамилия</label>
                            <input type="text" name="last_name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Никнейм">
                    </div>
                     <div class="form-group">
                            <label for="exampleInputEmail1">Никнейм</label>
                            <input type="text" name="nikname" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Никнейм">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Пароль</label>
                      <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
{#                    <div class="form-group">#}
{#                            <label for="exampleInputPassword1">Повторите пароль</label>#}
{#                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">#}
{#                    </div>#}

                    <div class="form-group">
                      <label for="exampleInputFile">Добавьте фото</label>
                      <input type="file" name="ava" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
                    </div>
{#                    <div class="form-check">#}
{#                      <label class="form-check-label">#}
{#                        <input type="checkbox" class="form-check-input">#}
{#                        Запомнить?#}
{#                      </label>#}
{#                    </div>#}
                    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
                </form>
        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>