{% extends 'basis.html' %}
{% block content %}
    <div class="container">
     <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
             <div class="form-row">
              <div class="col-md-4 mb-3">
                  <label for="validationCustom01">Имя</label>
                  <input type="text" class="form-control" id="validationCustom01" placeholder="First name" name="first_name" value={{ user.first_name }} required>
                </div>
                <div class="col-md-4 mb-3">
                  <label for="validationCustom02">Фамилия</label>
                  <input type="text" class="form-control" name="last_name" value="{{ user.last_name }}" id="validationCustom02" placeholder="Last name" required>
                </div>
                <div class="col-md-4 mb-3">
                  <label for="validationDefaultUsername">Nickname</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroupPrepend2">@</span>
                    </div>
                    <input type="text" class="form-control" value="{{ user.nikname }}" id="validationDefaultUsername" name="nikname" placeholder="Username" aria-describedby="inputGroupPrepend2" required>
                  </div>
                </div>

                <div class="form-group col-md-6">
                  <label for="inputEmail4">Email</label>
                  <input type="email" class="form-control" id="inputEmail4" placeholder="Email" name="email" value={{ user.email }}>
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Пароль</label>
                  <input type="password" class="form-control" id="inputPassword4" placeholder="Password" name="password" value={{ user.password }}>
                </div>
                 <div class="form-group">
                    <label for="inputAddress">Город</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="Москва" name="city" value={{ user.city }}>
                  </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">О себе</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" cols="170" name="about_oneself">{{ user.about_oneself }}</textarea>
                </div>
             </div>

             <label for="ava">Изменить фотографию</label><br>
             <input type="file" name="ava" class="form-control-file" id="ava"><br>
             <input type="submit" value="Редоктирование">

     </form>
    </div>
{% endblock %}