{% extends 'basis.html' %} }}
{% block content %}
    {% load static %}
        <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
        <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{#        {{ block.super }}#}
    <div class="container">
        <form method="get" enctype="multipart/form-data">
            <div class="mb-3 mt-5">
                <label for="header">Заголовок</label>
                <input id="header" name="header">
            </div>
            <div class="container mb-3">
            <label for="section">Раздел: </label>
                <select id="section" name="section"><option>Выберите из списка</option>
                    {% for i in section %}
                        <option>{{ i.section }}</option>
                    {% endfor %}
                </select><br>
            </div>
            <textarea  name="content" rows="10" cols="80"></textarea>
            <input type="submit" class="mt-3"/>

        </form>
    </div>

    <script>
        CKEDITOR.replace('content');
        CKEDITOR.config.extraPlugins = 'uploadwidget';
        CKEDITOR.config.extraPlugins = 'uploadimage';
        CKEDITOR.config.uploadUrl = '/';
    </script>
{% endblock %}