{% extends 'basis.html' %}
{% block content %}
    <div class="container">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" href="/user/publications">Опубликованные</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/not_published">Неопубликованные</a>
            </li>
        </ul>
        <a href="/user/publication/create/" class="btn btn-success btn-sm mb-3">+ добавить</a>
        {%  for i in object_list %}
            <h4 style="text-align: center"><a href="/user/publication/{{ i.id }}">{{ i.header }}</a></h4>
            <p>{{ i.content|safe|truncatechars_html:15}}</p>
        {% endfor %}
    </div>
{% endblock %}