{% extends 'basis.html' %}
{% block content %}
    <div class="container">
        <form method="get">
            {% csrf_token %}
            <label for="name_note">Название</label>
             <input id="name_note" type="text" name="name_note"><br>
            <label for="content">Содержание</label>
                <textarea id="content" name="content"></textarea><br>
            <button type="submit" class="btn btn-primary">Добавить</button>
        </form>
    </div>
{% endblock %}