{% extends 'basis.html' %}
{% block content %}
    <div class="container">
        <a href="/user/note" class="btn btn-success btn-sm mb-3">+ добавить</a>

        {% for i in object_list %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">

                <h4 class="alert-heading">{{ i.name_note }}</h4>
                <p>{{ i.content }}</p>

                <a class="close" data-dismiss="" href="/user/note/del/{{ i.id }}" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </a>

            </div>
        {% endfor %}
    </div>
{% endblock %}