<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#">My_news</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Публикации<span class="sr-only">(current)</span></a>
                </li>
{#                <li class="nav-item">#}
{#                  <a class="nav-link" href="#">Пользователи</a>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                    <a class="nav-link" href="/sections">Разделы</a>#}
{#                </li>#}
              </ul>
              <form class="form-inline my-2 my-lg-0" method="GET", action="/search/">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" name="search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
              </form>
                {% if request.session.auth %}
                    <div class="btn-group">
                      <button type="button" class="btn btn-outline-dark ml-3 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Мой профиль
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="/user/settings">Настройки</a>
                        <a class="dropdown-item" href="/user/publications">Публикации</a>
                        <a class="dropdown-item" href="/user/notes">Заметки</a>
                      </div>
                    </div>
                    <a class="btn btn-outline-info mr-3 ml-3" href="/user/logout/">Выход</a>

                {% else %}
                    <a class="btn btn-outline-info mr-3 ml-3" href="/user/auth/">Вход</a>
                    <a class="btn btn-info" href="/user/reg">Регистрация</a>

                {% endif %}
            </div>
          </nav>
    </div>
    <hr>

    {% block content%}

    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
</body>
</html>