{% extends 'basis.html' %}

{% block content %}
    {% include 'include/include_2.html' %}
    <div class="container mt-3">
        <form method="GET">
            {% for j in section %}
                <input type="checkbox" id="section" name="filter" onclick="filters({{ j.id }})" value="{{ j.id }}">
                <label for="section">{{ j.section }}</label><br>
            {% endfor %}
        </form>
    </div>
    <div class="artikul container mt-3" id="publications">
    {% for i in object_list %}
        <div>
            <h3><a href="publication/{{ i.id }}">{{ i }}</a></h3>
             <header class="post_meta">
                      <img src="/media/{{ i.public_user.ava }}" width="24" height="24" class="user-info__image">
                      <span class="nikname">{{ i.public_user.nikname }}</span>
             </header>
            <p>{{ i.content|safe|truncatechars_html:300 }}</p>
        </div>
    {% endfor %}
    </div>
    <script src="/static/js/filters.js"></script>
{% endblock %}
