{% extends 'basis.html' %}
{% block content %}
    <div class="container mt-5">
        <h3 style="text-align: center">{{ object.header }}</h3>
        <p>{{ object.content|safe }}</p>
    </div>
{% endblock %}