{% extends 'basis.html' %}
{% block content %}
    <div class="container mt-5">
        {% for i in object_list %}
            <input type="checkbox" id="section">
            <label for="section">{{ i }}</label><br>
        {% endfor %}
    </div>
{% endblock %}